
body {
  margin: 0;
}


.column, .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.nsx-logo {
  z-index: 9999999;
  display: block;
  position: absolute;
  width: 65em;
  right: 30%;
  top: 23%;
}

.nsx-icons {
  z-index: 9999999;
  display: block;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 5%;
  text-align: center;
}

.icon {
  width: 100px;
  padding: 30px;
}